{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
    <div class="col-md-6">
        <form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST">
            {% form_theme form 'MsiAdminBundle:Form:form.html.twig' %}
            {{ form_widget(form) }}
            <input class="btn btn-default" type="submit" value="{{ 'resetting.reset.submit'|trans }}" />
        </form>
    </div>
</div>
