{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
    <div class="col-md-6">
        <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
            {% form_theme form 'MsiAdminBundle:Form:form.html.twig' %}
            {{ form_widget(form) }}
            <input class="btn btn-default" type="submit" value="{{ 'change_password.submit'|trans }}" />
        </form>
    </div>
</div>
